<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Cross Browser Testing in Parallel" verbose="1" configfailurepolicy="continue" thread-count="2" parallel="instances" >
    <listeners>
        <!--
        This TestNG listener takes care of setting up and tearing down the Remote Selenium driver.
        You need to set Grid Mode 'off' in configuration property file
    -->
        <listener class-name="com.automation.qa.listener.WebDriverListener"/>
    </listeners>

    <test name="Test Execution - Windows Firefox Browser">
        <!-- If you want to be more specific, replace this with a list of test classes you'd like to run -->
        <parameter name="browserName" value="firefox"/>
        <parameter name="browserVersion" value="66.0"/>
        <parameter name="platform" value="windows"/>
        <classes>
            <!--            <class name="parallel.RunCucumberTest" />-->
            <class name="runner.TestRunner"/>

        </classes>
    </test>

    <test name="Test Execution - Windows Chrome Browser">
        <!-- If you want to be more specific, replace this with a list of test classes you'd like to run -->
        <parameter name="browserName" value="chrome"/>
        <parameter name="browserVersion" value="83.0"/>
        <parameter name="platform" value="windows"/>
        <classes>
            <!--        <class name="parallel.RunCucumberTest" />-->
            <class name="runner.TestRunner" />
        </classes>
    </test>





    <!--    <test name="SmokeTest - Linux Chrome Browser">-->
    <!--        <parameter name="browserName" value="chrome"/>-->
    <!--        <parameter name="browserVersion" value="ANY"/>-->
    <!--        <parameter name="platform" value="linux"/>-->
    <!--        <classes>-->
    <!--            <class name="runner.SmokeTest"/>-->
    <!--        </classes>-->
    <!--    </test>-->
    <!--    <test name="SmokeTest - Mac Safari Browser">-->
    <!--        <parameter name="browserName" value="safari"/>-->
    <!--        <parameter name="browserVersion" value="ANY"/>-->
    <!--        <parameter name="platform" value="mac"/>-->
    <!--        <classes>-->
    <!--            <class name="runner.SmokeTest"/>-->
    <!--        </classes>-->
    <!--    </test>-->
    <!--    <test name="SmokeTest - Microsoft Edge (EdgeHTML) Browser">-->
    <!--        <parameter name="browserName" value="edge"/>-->
    <!--        <parameter name="browserVersion" value="ANY"/>-->
    <!--        <parameter name="platform" value="windows"/>-->
    <!--        <classes>-->
    <!--            <class name="runner.SmokeTest"/>-->
    <!--        </classes>-->
    <!--    </test>-->
    <!--    <test name="SmokeTest - Internet Explorer Browser">
            <parameter name="browserName" value="ie"/>
            <parameter name="browserVersion" value="ANY"/>
            <parameter name="platform" value="windows"/>
            <classes>
                <class name="runner.SmokeTest"/>
            </classes>
        </test>-->



</suite>
